{% extends 'base.html' %}
{% set title = "Fehler" %}
{% set text_class = "black" %}
{% block main %}
    <div class="centered-container form">
        <h1>Ein Fehler ist aufgetreten</h1>
        {% if   failed=="validation"     %}<p>Bitte gebe die Daten vollständig ein. Begründung:</p><ul>{% for reason in reasons %}<li>{{ reason }}</li>{% endfor %}</ul>
        {% elif failed=="wrong_password" %}<p>Das Passwort ist falsch.</p>
        {% elif failed=="data_used"      %}<p>Der Nutzername oder die E-Mail wurden schon vergeben.</p>
        {% else %}<p>Beep! Boop! Fehler!</p><br><p>Fehler Code: '{{ failed }}'</p>{% endif %}
        <a class="small" href="/account/view">Zurück zur Loginseite</a>
        <br>
    </div>
{% endblock %}
