{% extends 'base.html' %}
{% set title = "Einstellungen"%}
{% set text_class = "white" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acc-view.css') }}">
{% endblock %}
{% block main %}
    <div class="centered-container form">
        <h1>Einstellungen - {{ profile.name }}</h1>
        <p>Hier kannst du nach Belieben dein Account verändern.</p>
        <p><b>Dein Score ist: {{ profile.score }}</b></p>

        <section id="icon" class = "form selection">
            <div class="profile-icon">
                <h2>Ändere dein Aussehen</h2>
                <a class="small" href="/account/set/icon/1"><img src="{{ url_for('static', filename="assets/profiles/1.png") }}" alt ="Profil 1" width="80" height="80"></a>
                <a class="small" href="/account/set/icon/2"><img src="{{ url_for('static', filename="assets/profiles/2.png") }}" alt ="Profil 2" width="80" height="80"></a>
                <a class="small" href="/account/set/icon/3"><img src="{{ url_for('static', filename="assets/profiles/3.png") }}" alt ="Profil 3" width="80" height="80"></a>
                <a class="small" href="/account/set/icon/4"><img src="{{ url_for('static', filename="assets/profiles/4.png") }}" alt ="Profil 4" width="80" height="80"></a>
            </div>
            <br><br>
            <div class="acc-view">
                <a class="small" href="/account/logout">Ausloggen</a>
                <a class="small" href="/account/delete">Löschen</a>
            </div>
            <div class="acc-view">
                <a class="small" href="/quiz/quiz">Zum Quiz</a>
                <a class="small" href="/quiz/leaderboard">Zum Leaderboard</a>
            </div>
        </section>
        <br>
    </div>
{% endblock %}
