{% extends 'base.html' %}
{% set title = "Leaderboard" %}
{% set text_class = "black" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}
{% block main %}
    <div class="leaderboard">
        {% for entry in board %}
            <div class="{{ 'user' if entry.username != profile.name else 'user user-you' }}">
                <span class="username">{{ entry.username }}</span>
                <span class="score">{{ entry.score }}</span>
            </div>
        {% endfor %}
        <br>
        <div class="form">
            <a class="small" href="/quiz/leaderboard">Aktualisieren</a>
            <br>
        </div>
    </div>
{% endblock %}
