{% extends 'base.html' %}
{% set title = "Quiz" %}
{% set text_class = "white" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz/quiz.css') }}">
{% endblock %}
{% block main %}
    <div class="quiz">
        <form class="centered-container form" action="/quiz/quiz" method="post">
            <div class="question">
                <p class="question-title">Frage 1</p>
                <label for="q1-1">Antwort 1</label>
                <input type="checkbox" id="q1-1" name="q1_1"><br>
                <label for="q1-2">Antwort 2</label>
                <input type="checkbox" id="q1-2" name="q1_2"><br>
                <label for="q1-3">Antwort 3</label>
                <input type="checkbox" id="q1-3" name="q1_3"><br>
            </div><br>
            <div class="question">
                <p class="question-title">Frage 2</p>
                <label for="q2-1">Antwort 1</label>
                <input type="checkbox" id="q2-1" name="q2_1"><br>
                <label for="q2-2">Antwort 2</label>
                <input type="checkbox" id="q2-2" name="q2_2"><br>
                <label for="q2-3">Antwort 3</label>
                <input type="checkbox" id="q2-3" name="q2_3"><br>
            </div><br>
            <div class="form align-center small">
                {{ form.hidden_tag() }}
                {{ form.submit() }}
                <a href="/quiz/leaderboard">Leaderboard</a>
            </div><br>
        </form>
    </div>
{% endblock %}