{% extends 'boot/base.html' %}
{% set title = "Linux" %}
{% set subbar = "linux" %}
{% set platform_src = "assets/boot/linux.webp" %}
{% block content %}
    <div class="container content-left">
        <div class="content">
            <h2>1. BIOS / UEFI</h2>
            <p>Es werden eine Reihe an überprüfungen durchgeführt und initialisiert die Hardware. Dann wird ein startfähiges Gerät gesucht und die Kontrolle wird an den Bootloader übergeben.</p>
        </div>
    </div>
    <div class="container content-right">
        <div class="content">
            <h2>2. Bootloader</h2>
            <p>Dem Nutzer wird ein Menü mit Startoptionen angezeigt. Viele Linux Distributionen nutzen den GRUB Bootloader (<u>GR</u>and <u>U</u>nified <u>B</u>ootloader). Der Bootloader lädt dann den Linux-Kernel und die initiale RAM-Disk in dn Speicher. Dann wird die Kontrolle an das Init-System weitergegeben.</p>
        </div>
    </div>
    <div class="container content-left">
        <div class="content">
            <h2>3. Init-System</h2>
            <p>Diese lädt alle nötigen Dienste (Services), Treiber und andere Prozess.</p>
        </div>
    </div>
    <div class="container content-right">
        <div class="content">
            <h2>4. Betriebssystem</h2>
            <p>Da das Betriebssystem nun vollständig geladen ist, endet hier der Bootprozess.</p>
        </div>
    </div>
{% endblock %}