{% extends 'boot/base.html' %}
{% set title = "MacOS" %}
{% set subbar = "macos" %}
{% set platform_src = "assets/boot/macos.webp" %}
{% block content %}
    <div class="container content-left">
        <div class="content">
            <h2>1. POST (<u>P</u>ower <u>O</u>n <u>S</u>elf <u>T</u>est)</h2>
            <p>Es werden eine Reihe an überprüfungen durchgeführt und es kann je nach Problem auch eine Fehlermeldung angezeigt werden.</p>
        </div>
    </div>
    <div class="container content-right">
        <div class="content">
            <h2>2. Firmware</h2>
            <p>Es werden die Bootfähigen Gerät überprüft um zu bestimmen, von welchem Gerät gebootet werden soll. Sollte kein Bootfähiges Gerät gefunden worden sein wird eine Fehlermeldung angezeigt.</p>
            <hr>
            <p>Firmware = Die Software, welche die Hardware steuert</p>
        </div>
    </div>
    <div class="container content-left">
        <div class="content">
            <h2>3. Bootloader</h2>
            <p>Die Firmware lädt nun den Bootloader und übergibt die Kontrolle an ihn. Unter MacOs heißt der Bootloader boot.efi. Der Bootloader lädt nun den Kernel des Betriebssystems.</p>
        </div>
    </div>
    <div class="container content-right">
        <div class="content">
            <h2>4. Kernel</h2>
            <p>Der Kernel initialisiert nun einige Hardware sowie Softwarekomponenten, wie z.b. Treiber und Dienste. Danach ist der Mac einsatzbereit.</p>
            <hr>
            <p>Kernel = Das Kernsystem eines jeden Betriebssystems</p>
        </div>
    </div>
{% endblock %}