{% extends 'base.html' %}
{% set title = "Home" %}
{% set text_class = "white" %}
{% block main %}
    <br><br>
	<div class="centered-container">
        <h1>Willkommen{{ " " + profile.name if profile }}!</h1>
        <p>Hier erfahren Sie mehr über den Bootprozess am Beispiel von Windows, Linux und MacOS. Um mehr zu erfahren, klicken Sie bitte auf Info. Nach dem Lesen können Sie auch gerne an unserem Quiz teilnehmen. Dafür können Sie den Button Quiz nutzen.</p>
        <br><p><b>Was versteht man unter Booten?</b><br>Booten beginnt, wenn der Computer eingeschaltet wird, und endet, wenn das Betriebssystem vollständig geladen ist. Der Bootprozess ist jener Prozess, welcher das Booten beschreibt.</p>
        <br>
        <div class="align-center form">
            <a href="boot/">Info</a>
            <a href="quiz/">Quiz</a>
        </div>
    </div>
{% endblock %}
