{% extends 'base.html' %}
{% set title = "Quellen" %}
{% set text_class = "white" %}
{% block head %}
	<style>
    .quellen {
        font-size: 40px;
        padding: 20px;
        list-style: none;
    }
    </style>
{% endblock %}
{% block main %}
    <ul class="centered-container">
        <li>1. <a class="underlined dark" href="https://www.youtube.com/watch?v=q_i439CqAHA&t=268s">Bootprozess von Florian Dalwigk (YT)</a></li>
        <li>2. <a class="underlined dark" href="https://www.linkedin.com/posts/bytebytego_systemdesign-coding-interviewtips-activity-7207604812610240512-s8_k">Beitrag von ByteByteGo auf Linkedin</a></li>
        <li>3. <a class="underlined dark" href="https://www.youtube.com/watch?v=KkenLT8S9Hs">How does an OS boot? von Low Byte Productions (Yt)</a></li>
    </ul>
{% endblock %}